/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
  border-radius: 12px;
  transition: all 0.5s;
  background-color: antiquewhite;
}
.test:hover{
  transform:scale(1.01);
  background-color: blueviolet;
}
